<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to Private events</h1>
  
    <% user = current_user()  %>
    <% if user != nil %>           
        Logged in as <b><%= user.username  %></b>
    <% end %>
  
</div>
